.profile__button-edit {
  margin: auto;
  max-width: 10px;
  max-height: 10px;
  object-fit: contain;
  display: block;
}

@media all and (max-width: 970px) {
  .profile__button-edit  {
    max-width: 7.5px;
    max-height: 7.5px;
  }
}