.popup__input {
  margin: 30px 0 0 0;
  width: 100%;
  max-width: 358px;
  height: 27px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);; 
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  position: absolute;
}
.popup__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  position: absolute;
}

.popup__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  position: absolute;
}

.popup__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  position: absolute;
} 

@media all and (max-width: 767px) {
  .popup__input  {
    max-width: 238px;
  }
}