.header {
  width: 100vw;
  margin: 0 auto;
  padding: 45px 0 0 0;
  max-width: 880px;
  height: 100vh;
  max-height: 119px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
  position: relative;
}


@media all and (max-width: 767px) {
  .header {
    max-width: 320px;
    padding: 28px 0 0 0;
    max-height: 84px;
  }
}

