.header {
  margin: 0 auto;
  padding: 45px 200px 40px 200px;
  max-width: 1280px;
  box-sizing: border-box;
}

@media all and (max-width: 767px) {
  .header {
    max-width: 320px;
    padding: 28px 0 42px 0;
  }
}