.popup__button-exit {
  margin: 0;
  max-width: 32px;
  max-height: 32px;
  border: 0;
  margin: 8px;
  background-color:transparent;
  align-self: flex-end;
  padding: 0;
  width: 100%;
}

.popup__button-exit:hover {
  opacity: .6;
  transition: opacity 0.1s ease-out;
}

@media all and (max-width: 767px) {
  .popup__button-exit  {
    max-width: 20px;
    max-height: 20px;
    margin: 0 0 16px 0;
  }
}